@font-face {
  font-family: "iconfont"; /* Project id 5034291 */
  src: url('iconfont.woff2?t=1760281217380') format('woff2'),
       url('iconfont.woff?t=1760281217380') format('woff'),
       url('iconfont.ttf?t=1760281217380') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-system:before {
  content: "\e74a";
}

.icon-unfold:before {
  content: "\e749";
}

.icon-indent:before {
  content: "\e7f3";
}

.icon-outdent:before {
  content: "\e7f4";
}

