@font-face {
  font-family: "iconfont"; /* Project id 5034291 */
  src: url('iconfont.woff2?t=1759282154415') format('woff2'),
       url('iconfont.woff?t=1759282154415') format('woff'),
       url('iconfont.ttf?t=1759282154415') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e600";
}

